<div class="parent">
    <video src={{src}} autoplay #videoPlayer></video>
    <div class="overlay" #overLay>
        <div class="header-block">
            <i class="back-arrow" (click)="goBack()"></i>
            <div class="header-text">
                <h6>{{deet.title}}</h6>
                <p>Episode: {{ep}}</p>
            </div>
            <div class="settings_container">
                <div class="drop_conatiner" *ngIf="!movie">
                    <i class="settings ep"></i>
                    <div class="sub_drop_ep custom_scroll">
                        <p *ngFor="let e of episodes" class="button_ep" (click)="epNav(e)">{{e}}</p>
                    </div>
                </div>
                <div class="drop_container">
                    <i class="settings speed"></i>
                    <div class="sub_drop_speed">
                        <p *ngFor="let p of playSpeed" class="button" (click)="speedChange(p)">{{p}}</p>
                    </div>
                </div>
                <div class="drop_conatiner">
                    <i class="settings sett"></i>
                    <div class="sub_drop_quality">
                        <p *ngFor="let s of srcKeys()" class="button" (click)="qualityChange(s)">{{s}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!loading" class="playbackControl">
            <div class="playback_container">
                <i class="playback_sides forwardep" *ngIf="forwardep" (click)="epNav(1)"></i>
                <i class="playback_others left" (click)="skip(-10)"></i>
                <i class="play_pause pause" (click)="playClick()"></i>
                <i class="playback_others right" (click)="skip(10)"></i>
                <i class="playback_sides backep" *ngIf="backep" (click)="epNav(-1)"></i>
            </div>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <div class="controls">
            <input type="range" class="time" #timeMark value="0" step="0.05">
            <span class="time-show">{{timeLeft}}</span>
            <div class="vol-block">
                <i class="volume volume_normal" (click)="onMute()"></i>
                <div class="volume-container">
                    <input type="range" class="volumeControl" #volumeControl min="0" max="100" value="100" step="20" orient="vertical">
                </div>
            </div>
            <i class="fullscreen full" (click)="onFullscreen()"></i>
        </div>
    </div>
</div>
