/* You can add global styles to this file, and also import other style files */

.main_back {
    background: #040404;
}

.page-progress .mat-progress-bar-fill::after {
    background-color: #040404;
}

.scroll-hide {
    box-sizing: border-box;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.scroll-hide::-webkit-scrollbar { 
    display: none;
}

.custom_scroll::-webkit-scrollbar {
    width: 6px;
}

.custom_scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom_scroll::-webkit-scrollbar-thumb {
    background: #F4F4E6;
    border-radius: 3px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
