<app-details *ngIf="show_deets" [details]="deet" (closeDeets)="closeDeets()"></app-details>
<div class="parent scroll-hide">
    <div *ngIf="show" class="video_container">
        <video src={{src}} #video autoplay loop></video>
        <div class="layer"></div>
    </div>
    <div class="page">
        <div class="button_holder">
            <button class="watch_button" (click)="contWatch()"><i class="watch_icon"></i>Continue Watching</button>
            <img src="./../../assets/volume_mute.svg" class="mute" (click)="muteVid()">
        </div>
        <p>Recents</p>
        <div class="list_container scroll-hide">
            <app-tile *ngFor="let anime of recentList" [tileData]="anime" (click)="clickTile(anime)"></app-tile>
            <div class="last_tile">
                <div class="child_container" routerLink="/tileView/recents/2">
                    <p>Explore More</p>
                    <img src="./../../assets/right-arrow-white.svg">
                </div>
            </div>
        </div>
        <p>Popular</p>
        <div class="list_container scroll-hide">
            <app-tile *ngFor="let anime of popularList" [tileData]="anime" (click)="clickTile(anime)"></app-tile>
            <div class="last_tile">
                <div class="child_container" routerLink="/tileView/popular/2">
                    <p>Explore More</p>
                    <img src="./../../assets/right-arrow-white.svg">
                </div>
            </div>
        </div>
    </div>
</div>